#root{
	overflow-x: hidden;
	font-family: '微软雅黑' !important;
}

.MuiDivider-root{
	width: 100vw;
}
.MuiDrawer-root{
	.MuiPaper-root{
		background-color: rgba(46, 46, 46, 0.95);
		color: #fff;
		overscroll-behavior: contain;
	}
}

.MuiTypography-body2{
	font-size: 1rem !important;
}
